
 /* Properties for all */
* {
    margin: auto; 
    font-family: Verdana;
}

/* Navigation Bar */
.navbar {
    background-color: rgb(20, 45, 171);
    color: white;
    position: relative;
    overflow: hidden;
}


/* Side Panel */
.sidepanel {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(20, 45, 171); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    display: inline;
    float: left;
}
    
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #f1f1f1;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
   
.openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: rgb(20, 45, 171);
    color: white;
    border: none;
    display: inline;
}
  
.openbtn:hover {
    background-color: #444;
}

/* Navigation content */
.logo-heading {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    font-size: 30px;
    text-align:center;
}

.logo {
    display: inline;
    width: 75px;
    padding-top: 8px;
    height: 50px;
    float: right;
}

/* Main content */
.container {
    max-width: 1000px;
}

.banner {
    background: url(Images/canoe.jpg) center;
    width: 100%;
    height: 500px;
    color: white;
    font-size: 90px;
    text-align: center;
    padding-top: 150px;
}

.container h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.activities {
    padding: 20px 20px;
    margin: auto;
}

.activities h2 {
    color: rgb(18, 126, 18);
    text-decoration: underline;
    padding-bottom: 12px;
}

.activities h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}
  


@media only screen and (max-width: 834px) {
    .logo-heading{
        font-size: 17px;
    }

    .banner {
        font-size: 70px;
    }
}